*{
    box-sizing: border-box;
}
.container {
	max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    clear: both;
}

/*FIRST-SECTION*/
.first-section {
	background-image: url("../img/street-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden; 
}
.top-content {
    margin-top: 25px;

}
.fist-section .left-side {
    display: inline-block;
    padding: 30px 30px 10px 30px;
}
.first-section .right-side {
    float: right;
    display: inline-block;
    padding-top: 10px; 
    font-family: 'raleway', serif;
}

.first-section .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first-section .right-side .title {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 146px;
}
.first-section .right-side span {
    font-weight: 700;
    padding: 8px;
}

.first-section .right-side .btn-group span {
    padding-left: 20px;
}
.first-section .right-side p {
    color: #FFFFFF;
    font-size: 25px;
   	padding-bottom: 27px;
    padding-top: 21px;
    line-height: 1.2
}

/*SECOND-SECTION*/
.second-section {
	padding-bottom: 150px;
	font-family: 'open sans', serif;
	color: #3D3D3D;
	clear: both;
}
h2.title {
    font-weight: 700;
}
.second-section span {
	padding-left: 20px;
}
.second-section .second-item {
    float: left;
    width: 25%;
    line-height: 30px;
    padding: 20px;
}
.second-section .left-side {
    display: inline-block;
    padding-left: 30px;
}
.second-section .right-side {
    float:right;
    display: inline-block;
    padding-top:30px;
    padding-left: 20px;
}
.second-section .right-side .title {
    padding-bottom: 25px;
    font-size: 50px;
    padding-top: 17px;
    font-weight: 750;
}
.second-section .right-side a {
	font-size: 15px;
	box-shadow: 0px 0px 50px #C7C7C7;
}
.second-section .right-side p {
    padding-bottom: 90px;
    font-size: 19px;
    line-height: 35px;
    width: 480px;
}
.second-section .right-side .btn-left {
	width: 20%;
	float: left;
	padding-left: 15px;
}
.second-section .right-side .btn-right {
	width: 80%;
	text-align: left;
	line-height: 15px;
	display: inline-block;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 13px;
}
.second-section .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.second-section .right-side .bold {
	font-weight: bold;
}
.second-section .right-side img {
	height: 40px;
}

/*THIRD-SECTION */
.third-section {
	padding-bottom: 20px;
	font-family: 'raleway', serif;
	background: #FC7E10;
	color: #FFFFFF;
}
.third-section .left-side {
    display: inline-block;
    padding-left: 40px;
}
.third-section .right-side {
    float:right;
    padding-left: 20px;
}
.third-section img {
    padding-top: 46px;
}
.third-section .title {
    font-size: 50px;
    font-weight:bold;
    padding-top: 100px;
}
.third-section span {
	padding-left: 20px;
}
.third-section ul {
	padding-top: 40px;
	line-height: 40px;
	font-size: 18px;
}

/* FOURHT-SECTION */
.fourth-section {
	padding-bottom: 5px;
	font-family: 'open sans', serif;
	background: #DDDDDD;
	color: #212121;
}
.fourth-section .title {
	padding-top: 75px;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 45px;
}
.fourth-section .center {
	text-align: center;
	padding-bottom: 32px;
}
.fourth-section p {
	font-size: 18px;
    padding-top: 10px;
	padding-bottom: 45px;
}
.fourth-section input[type=text] {
	height: 40px;
	color: #000;
	border: none;
	font-size: 15px;
	padding-right: 50px;
	padding-left: 20px;
}
.fourth-section .button {
	display: block;
	padding-top: 25px;
	padding-bottom: 40px;
}
.fourth-section span {
	padding-left: 20px;
}

/* FOOTER */
footer {
	font-family: 'open sans', serif;
	background: #60615C;
	color: #FFFFFF;
}
footer .left-side {
    padding-bottom: 56px;
    padding-top: 60px;
	display: inline-block;
}
footer .right-side {
	float: right;
	text-align: right;
	padding-top: 45px;
}
footer .title {
	text-align: right;
	padding-bottom: 15px;
}
footer p {
	line-height: 25px;
	font-size: 13px;
}
footer span {
	padding-left: 10px;
}
footer img {
	height: 40px;
}
.btn {
    background : #F8A01E;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 215px;
    padding: 18px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #F8A01E;
    text-align: center;
}
.btn.btn-transparent {
	background: transparent;
	border: 2px solid white;
}
.btn.btn-dark {
	background: #212121;
	border: none;
	border-radius: 50px;
	width: 225px;
	padding: 5px;
    box-shadow: 0 0 20px #888888;
}
.btn.btn-dark-orange {
	background: #F58422;
	border: 2px solid #F58422;
}
.btn.btn-sm {
	font-size: 18px;
	width: 250px;
	border-radius: 20px;
	padding: 10px;
	font-weight: bold;
}
.header {
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
     }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .top-content{        
        margin-top: 25px;
    }
    .first-section .left-side {
        display: inline-block;
        padding: 30px 30px 40px 70px;
    }
    .first-section .right-side {
        padding-top: 80px;
        padding-left: 90px;
    }
    .first-section .right-side .title {
        padding: 15px 0;
        font-size: 25px;
    }
    .first-section .right-side p {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
    }
    .first-section .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .second-section img {
        padding: 0;
    }
    .second-section .second-item {
        width: 50%;
        padding: 40px;
    }
    .second-section .left-side {
        padding-left: 50px;
    }
    .second-section .right-side {
        padding-top: 5px;
    }
    .second-section .right-side .title {
        padding-top: 15px;
        font-size: 40px;
        padding-bottom: 25px;
    }
    .second-section .right-side a {
        font-size: 10px;
    }
    .second-section .right-side p {
        font-size: 17px;
        line-height: 30px;
        width: 400px;
        padding-bottom: 35px;
    }
    .second-section .right-side .btn-right {
        font-size: 11px;
    }
    .second-section .right-side .btn-left {
        padding-left: 10px;
    }
    .third-section .title {
        font-size: 40px;
    }
    footer .left-side {
        padding-left: 50px;
    }
    footer .right-side {
        padding-right: 50px;
    } 
    .btn {
        font-size: 15px;
        padding: 15px;
        width: 155px;
        border-radius: 8px;
    }
    .btn.btn-dark {
        width: 200px;
    }
}
@media (min-width: 414px) and (max-width: 768px) {
    .top-content {
        margin-top: 25px;
    }
    .left-side {
        margin-top: 50px;
        padding-bottom: 40px;
    }
    .first-section .right-side .title {
        font-size: 30px; 
        color: #FFFFFF;
        padding: 31px;
        padding-left: 20px;
    }
    .first-section .right-side span {
        font-weight: 800;
    }
    .first-section .right-side p {
        color: #FFFFFF;
        font-size: 18px;
        padding-bottom: 25px;
        line-height: 1.5;
        padding-left: 25px; 
        padding-top: 1;
    }
    .first-section .right-side {
        float: right;
        display: inline-block;
        padding-top: 58px; 
        font-family: 'raleway', serif;
    } 
    .second-section .right-side .title {
        padding-bottom: 25px;
        font-size: 50px;
        padding-top: 10px;
        font-weight: 750;
        padding-left: 80px;
    }
    .second-section .right-side p {
        padding-bottom: 90px;
        font-size: 19px;
        line-height: 35px;
        width: 350px;
        padding-left: 20px;
        text-align: center;
    }
    .second-section {
        padding-bottom: 25px;
        padding-top: 20px;
        font-family: 'open sans', serif;
        color: #3D3D3D;
        clear: both;
    }
    .second-section .right-side p {
        padding-bottom: 30px;
        font-size: 19px;
        line-height: 2;
        width: 100%;
        padding-left: 30px;
        text-align: center;
    }
    .second-section .right-side .title {
        padding-bottom: 25px;
        font-size: 4rem;
        padding-top: 10px;
        font-weight: 750;
        padding-left: 8px;
        text-align: center;
    }
    .second-section .second-item {
        float: left;
        width: 50%;
        line-height: 2;
        padding: 1px;
        margin-top: 30px;
        text-align: center;
    }
    .second-section .left-side {
        display: inline-block;
        padding-left: 123px;
        padding-right: 155px;
        padding-top: 71px;
    }
    .second-section span {
        padding-left: 0px;
    } 
    .third-section .title {
        font-size: 35px;
        font-weight: bold; 
        padding-left: 51px;
    }
    .third-section ul {
        padding-top: 10px;
        line-height: 40px;
        font-size: 18px;
        padding-left: 80px;
    }
    .third-section img {
        padding-top: 30px;
    }
    .third-section .right-side {
        float: right;
        padding-left: 20px;
        padding-top: 41px;
    }
    .third-section .title {
        font-size: 40px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 15px;
    } 
    .fourth-section .title {
        padding-top: 25px;
        font-size: 45px;
        font-weight: 700;
        padding-bottom: 25px;
        line-height: 1;
    }
    .fourth-section p {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 25px;
        line-height: 1.5;
    }
    .fourth-section input[type=text] {
        height: 40px;
        color: #000;
        border: none;
        font-size: 15px;
        padding-right: 50px;
        padding-left: 20px; 
        text-align: center;
    }
    .fourth-section .button {
        display: block;
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .fourth-section .button {
        display: inline-block;
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .fourth-section input[type=text] {
        height: 40px;
        color: #000;
        border: none;
        font-size: 15px;
        padding-right: 50px;
        padding-left: 20px; 
        text-align: center;
        margin-bottom: 15px;
    }
    footer .right-side {
        float: right;
        text-align: center;
        padding-top: 41px;
    }
    footer .title {
        text-align: center; 
        padding-bottom: 15px;
    }
    footer .left-side {
        padding-bottom: 40px;
        padding-top: 0px;
        text-align: center;
        display: inline-block;
    }
    .btn {
        background: #F8A01E;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        width: 180px;
        padding: 20px 10px;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #F8A01E;
        text-align: center;
        margin-bottom: 10px;
    }
    .form-group-second  {
        padding-left: 149px;
        padding-top: 23px;
    }
    .form-group-fourth  {
        margin-bottom: 15px;
        display: inline-block;
        padding-left:  
    }
    .form-group-first {
        padding-left: 30px;
        padding-bottom: 30px;
    }
    h2.title {
        font-weight: 700;
    }
}