*{
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	clear: both;
}
body {
   margin: 0px;    
}

.first-section { 
	background-image: url("../img/street-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
header img{
    display: inline-block;
}  
.first-section img {    
    padding-top: 20px;
    height: 90px;
}
.first-section .left-content {
    width: 40%; 
    float: left; 
    padding: 100px 0px 0px 20px;
}
.first-section .left-content img {
    height: 550px;;
}
.first-section .right-content {         
    color: #FFFFFF;
    text-align: right;
    font-family: "Raleway";
    width: 60%;
    display: inline-block;
    padding-top: 200px;
    padding-left: 120px;
} 
.first-section .right-content h1 {
    color: #FFFFFF;
    font-size: 32px;
    padding: 22px 0;
    text-align: left;
}
.first-section .right-content p {    
    font-size: 25px;    
    line-height: 30px;    
    padding-bottom: 30px;
    float: left;
    text-align: left;
}
.first-section .right-content span{
	font-weight: bold;
}
.first-section a {
	text-decoration: none;
	float: left; 
	margin-top: 100px;
	margin: 20px 0;
}



.second-section { 
    padding-top: 100px;
}
.second-section h2 {
    font-weight: bold;
}
.second-section .top { 
	float: left;
	width: 25%;
	line-height: 30px;
	padding: 20px;
	font-family: "Open sans";
} 


.third-section {
    padding-bottom: 165px;
    color: #3D3D3D;
}
.third-section .left {
    padding-top: 100px;
    width: 50%;
    float: left;
}
.third-section .right {
	width: 50%;
	float: left;
    padding-top: 140px;
    font-family: "Open sans";
}
.third-section .left img {
    height: 500px;
}
.third-section .right .title {    
	font-size: 50px;
    font-weight: 900;
    padding-bottom: 25px;
}
.third-section .right p {
    padding-bottom: 90px;
    font-size: 19px;
    line-height: 35px;
    width: 480px;
}
.third-section .bold {
	font-weight: bold;
}
.third-section .btn-left {
    width: 20%;
    float: left;
    padding-left:3px;
}
.third-section .btn-right {
    width: 80%;
    text-align: left;
    line-height: 15px;
    display: inline-block;
    padding-top: 18px;
    padding-left: 20px;
    font-size: 13px;
}
.third-section .text {
	width: 70%;
    text-align: left;
    line-height: 15px;
    display: inline-block;
    padding-top: 5px; 
    font-size: 13px;
} 

.fourth-section {
	background-color: #FC7E10;
    color: #FFF;
    padding-bottom: 20px;
    font-family: raleway;
    padding-top: 50px;
}
.fourth-section-left {
    width: 50%;
    display: inline-block;
}
.fourth-section-right {
    width: 50%;
    float: right;
    padding-top: 50px;
}
.fourth-section-right span {
    padding-left: 20px;
}
.fourth-section-right ul {
    padding-top: 40px;
    line-height: 40px;
    font-size: 18px;
}
.fourth-section-right h2 {
    font-size: 50px;
    font-weight:bold;
    padding-top: 10px;
}
.fourth-section img {
    height: 515px;
}

.fifth-section { 
	background: #DDDDDD; 
    padding-bottom: 5px;
    font-family: open sans;
    color: #212121;
}
.fifth-section span {
    padding-left: 20px;
}
.fifth-section .button {
    display: block;
    padding-top: 25px;
    padding-bottom: 40px;
}
.fifth-section input[type=text] {
    height: 40px;
    color: #000;
    border: none;
    font-size: 15px;
    padding: 12px 50px 12px 15px;
} 
.fifth-section p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 45px;
}
.fifth-section .center {
    text-align: center;
    padding-bottom: 32px;
} 
.fifth-section .title {
    padding-top: 75px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 45px;
}
 
footer {
    font-family: open sans;
    background: #60615C;
    color: #FFFFFF;
}
footer .left {
    width: 50%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px; 
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 50px;
}
footer .right {
    width: 50%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 25px;
    float:right;
    line-height: 35px;
    text-align: right;
    padding-bottom: 50px;
}
footer .title{
    text-align: right;
    padding-bottom: 15px;
}   
footer p {
    line-height: 25px;
    font-size: 13px;
}
footer span {
    padding-left: 10px;
}
footer img {
    height: 40px;
}
footer .left a {
   text-decoration: none;
   color: #FFFFFF;
}  


.btn { 
    background : #F8A01E;
	font-size: 20px;
	color: #FFF;
	display: inline-block;
	padding: 20px 20px;
    border-radius: 10px;
    width: 215px;
    text-decoration: none;
    border: 2px solid #F8A01E;
    text-align: center;
}
.btn.btn-dark {
	background: #212121;
	border:none;
	border-radius: 50px;
	width: 230px;
	padding: 1px;
}
.btn.btn-transparent{
    background: transparent;
    border: 2px solid white;
    margin-left: 20px;
}
.btn.btn-dark-orange{
    background: #F58422;
    border: 2px solid #F58422;
}
.btn.btn-sm{
    font-size: 18px;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}