header{
	height: 10%;
	font-size: 20px;
	padding-top: 3px;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-style: bold;
	border: 1px solid black;
}
nav{
	height: 10%;
	font-size: 20px;
	padding-top: 3px;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-style: bold;
	border: 1px solid black;
}
section{
	height: 27%;
	width: 60%;
	font-size: 20px;
	padding-top: 5px;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-style: bold;
	border: 1px solid black;
}
aside{	
	height: 57%;
	width: 37%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	margin: 15px; 
	float: right;  
	margin-top: -231px;
	border: 1px solid black;
}
article{
	height: 27%;
	width: 60%;
	font-size: 20px;
	padding-top: 5px;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-style: bold;
	border: 1px solid black;
}

footer{
	height: 10%;
	font-size: 20px;
	padding-top: 3px;
	margin: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 10px;
	font-style: bold;
	border: 1px solid black;
}
