header,
footer {
	background: #D0FFDD;
	padding: 10px 5px; 
}
footer {
    background: #83FF9F;
    height : 4%;  
}
.content{
    background:  #FF9FA0; 
    height: 84%; 
    padding : 15px;
}
.content ul.sidebar { 
	height: 93%;
	width: 32%;
	background: #A4E4FF;
	float: right;
    margin: 7px  ;
    padding: 10px; 
    margin-top: 24px;
    margin-right: 1px;
	padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}
.content ul.entry li { 
	height: 28%;
	width: 64%;
	background: #A4E4FF;
    margin: 7px 2px;
    padding: 10px; 
}


