header{
	height:10%; 
	background-color: #D0FFDD; 
	width:100%; 
	padding:5px;
	font-size:20px;
	font-weight: bold;
}

.content{
	background-color: #FF9FA0;
	color: #000000;
	width: 100%;
	height: 77%;
	font-size:20px;
	font-weight: bold;
	padding: 8px;
}
 .entry{
	background-color: #A4E4FF;
	color: #000000;
	width: 72%;
	height: 29%; 
	padding-left: 7px;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size:20px;
	font-weight: bold;
}
.entry2{
	background-color: #A4E4FF;
	color: #000000;
	width: 72%;
	height: 29%;
	padding-left: 5px;
	margin-left: 15px;
	margin-bottom: 30px;
	font-size:20px;
	font-weight: bold;
}
.entry3{
	background-color: #A4E4FF;
	color: #000000;
	width: 72%;
	height: 29%;
	padding-left: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
	font-size:20px;
	font-weight: bold;
}
#sidebar{
	height: 88%; 
	width:24%;
	background-color: #A4E4FF;
	border: 1px; 
	padding:5px; 
	float: right;
	margin-top : 24px;
	margin-right: 20px;
}
#footer{
	height:10%; 
	background-color: #83FF9F; 
	width:100%; 
	padding:5px;
	font-size:20px;
	font-weight: bold;
	margin-top: -18px;
}

	
	

	
	
	
	
 