body {
	background-image: url(../img/cat1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	background-size: 100%, 100%;
    overflow: hidden; 
}
.btn, 
.btn-reset {
	height: 50px;
	width: 250px;
	border-radius: 8px;
	color: #FFFFFF;
	background-color: #644e43;
	font-size: 20px;
	cursor: pointer;	
}  
.btn:hover, 
.btn-reset:hover {
	background-color: pink;	
}
span {
	color: #000000;
	font-size: 180px;
	font-family: 'century gothic';
	text-align: right;
}
.container {
	text-align: center; 
	width: 15%; 
	display: inline-block;  
	padding: 5px 75px; 
	background-color: rgba(160, 146, 132, 0.6);  
}
.title {
	width: 100%;
} 
img {    
	height: 162px;
    width: 244px;
    margin-bottom: 57px; 
    border-spacing: 100px;
}
h1 {
	font-family: 'Century Gothic';
	font-weight: 800;
	font-size: 50px;
    padding: 57px 555px 0px;
}